@{
    ViewData["Title"] = "Dashboard Admin";
}

@model GestioneUserViewModel

<h1 class="title">Lista Account</h1>

<h2 class="title mb-2"> Amministratori </h2>    
    @foreach (var user in Model.Amministratori){
        <p> ~ @user.Email </p> 
    }

<div class="row mt-5">
   

    <div class="col-md-12" >
            <button class="btn btn-outline-danger mb-2" id="toggle3"> Mostra Utenti </button>
            <div id="3">
                <table class="table table-striped" style="column-count: 4;">
                    @if(Model.Utenti.Count() == 0){
                        <tr  class="mb-1">
                            <td> Nessun utente nel ruolo </td>
                        </tr> 
                    }
                    <thead>
                            <th>Email</th>
                            <th >Ruolo iniziale</th>
                    </thead>
                    @foreach (var user in Model.Utenti){
                        <tr  class="mb-1">
                                <td> @user.Email </td>
                                <td> @user.Ruolo </td>
                        </tr>     
                    }

                </table>
                </ul>
            </div>
    </div>
</div>
    
    
               
    


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        $( "#1" ).hide();
        $( "#2" ).hide();
        $( "#3" ).hide();
        $( "#4" ).hide();

        

       $( "#toggle1" ).click(function() {
             $( "#1" ).toggle();
        });

        $( "#toggle2" ).click(function() {
             $( "#2" ).toggle();
        });

        $( "#toggle3" ).click(function() {
             $( "#3" ).toggle();
        });

        $( "#toggle4" ).click(function() {
             $( "#4" ).toggle();
        });
    </script>
}