<ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="btn btn-outline-primary w-100 " asp-controller="Admin" asp-action="Users"><i class="fas fa-users"></i> Account </a>
        </li>
          
        <li class="nav-item">
            <a class="btn btn-outline-primary w-100 " asp-controller="Admin" asp-action="Negozi"><i class="fas fa-cash-register"></i> Negozi </a>
        </li>    
        <li class="nav-item" >
            <a class="btn btn-outline-primary w-100 " asp-controller="Admin" asp-action="Corrieri"><i class="fas fa-truck-loading"></i> Corrieri </a>
        </li>
          
       <li class="nav-item">
            <a class="btn btn-outline-primary w-100 " asp-controller="Admin" asp-action="Gestione"><i class="fas fa-cogs"></i> Gestione </a>
       </li>

        

        </ul>
