<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - C3 x PAWM </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <header>
        <div id="navbar">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a class="navbar-brand" title="Home" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="C3 logo" class="logo"></a>
                <button class="navbar-toggler" data-target="#navbar-brand" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbar-brand" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="btn btn btn-outline-primary" asp-action="Index" asp-controller="Home" title="HOME"> <i class="fas fa-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn btn-outline-primary" asp-action="Index" asp-controller="Elenco"><i class="fas fa-list"></i> Elenco Negozi </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="btn btn btn-outline-primary" asp-action="Index" asp-controller="Corriere"><i class="fas fa-edit"></i> Dashboard Corriere </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn btn-outline-primary" asp-action="Index" asp-controller="Utente"><i class="fas fa-edit"></i> Dashboard Utente </a>
                        </li>
                         <li class="nav-item">
                            <a class="btn btn btn-outline-primary" asp-action="Index" asp-controller="Negozio"><i class="fas fa-edit"></i> Dashboard Negozio </a>
                        </li>
                    </ul>
                       
                        <partial name="_LoginPartial"></partial>
                       
                </div>
            </nav>
        </div>
    </header>
    <section id="section">
        <div class="container">
            <main role="main" class="pb-3">
               
                        @if(TempData["Success"] != null){
                            <div class="alert alert-success alert-dismissable mt-3" role="alert" style="position:absolute;right:1%;top:12%;z-index:10000;opacity:0.9;">
                                @TempData["Success"]
                            </div>
                        }
                  
               
                @RenderBody()
            </main>
        </div>
        

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; Progetto C3
                <author>di Andrea Cataluffi</author>
            </div>
    </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


