@{
    ViewData["Title"] = "Negozio";
}

<h1 class="title"> Benvenuto, </h1>
<h2 class="title"> questa &egrave; la tua dashboard.</h2>

<div class="row mt-3">
    <div class="col-md-4">
        <a class="btn btn btn-outline-primary" asp-action="Modifica" asp-controller="Negozio"><i class="fas fa-user-edit"></i> Modifica Account </a>
    </div>
    <div class="col-md-4">
@*       Disabilita se gia attiva   *@
        <a class="btn btn btn-outline-primary" asp-action="Pubblicita" asp-controller="Negozio"><i class="fas fa-audio-description"></i> Attiva pubblicit&agrave; </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn btn-outline-primary" asp-action="Pacco" asp-controller="Negozio"><i class="fas fa-cart-plus"></i> Nuovo ordine </a>
    </div>
</div>



<div class="row mt-3">
    <div class="col-md-12">
        <h3> Lista di ordini</h3>
    <ul class="elenco">
        <li>
        <div class="row">
                <div class="col-md-5">
                    Luogo di Consegna  @* Indirizzo del pacco *@
                </div>
                <div class="col-md-5">
                    Destinatario  @* Nome destinatario *@
                </div>
                 <div class="col-md-2">
                    DA RITIRARE
                    @* True se NON_ASSEGNATO, False altrimenti *@
                </div>
            </div> 
        </li>
    </ul>
    </div>
</div>