@model PaccoInputModel

@{
    ViewData["Title"] = "Ordine";
}

<h4 class="title mt-3">Creazione ordine</h4>

    
@using((Html.BeginForm("Pacco", "Negozio", FormMethod.Post))){
        
    @Html.HiddenFor(m => m.NegozioId)
    
    <div class="row mt-3">
        <div class="col-md-12">
            <div asp-validation-summary="All"></div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-5 mt-3">
            <label for="Via">Via</label>
            <input class="form-control" asp-for="Via" type="text">
        </div>
        <div class="col-md-5 mt-3">
            <label for="Citta">Citt&agrave;</label>
            <input class="form-control" asp-for="Citta" type="text">
        </div>
        <div class="col-md-2 mt-3">
            <label for="Provincia">Provincia</label>
            <input class="form-control" asp-for="Provincia" type="text">
        </div>
    </div>
    
    
    
     <div class="row mt-3">

        <div class="col-md-4">
            <label for="Enail">Email utente</label>
            <input class="form-control" asp-for="Email" type="text">
            <span asp-validation-for="Email" style="color: darkred"></span>
        </div>
        
    </div>
    


    <div class="row mt-3">
        <div class="col-md-8">
                <button type="submit" class="btn btn-primary"><i class="fas fas fa-cash-register"></i>&nbsp;Crea ordine</button>
            </div>
    </div>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}

