@{
    ViewData["Title"] = "Utente";
}

<h1 class="title"> Benvenuto, </h1>
<h2 class="title"> Questa &egrave; la tua dashboard.</h2>

<div class="row mt-5">
    <div class="col-md-12">
        <h3 class="title"> Lista dei tuoi ordini</h3>
        <ul class="elenco">
            <li>
            <div class="row">
                    <div class="col-md-6">
                        Luogo di Consegna  @* Indirizzo del pacco *@
                    </div>
                    <div class="col-md-4">
                        Stato ordine 
                    </div>
                    <div class="col-md-2">
                        Corriere 
                    </div>
                </div> 
            </li>
        </ul>
    </div>
</div>
