@model CorriereInputModel

@{
    ViewData["Title"] = "Negozio";
}

<h4 class="title mt-3">Nuovo corriere</h4>


@using((Html.BeginForm("Creazione", "Corriere", FormMethod.Post))){
        

    <div class="row mt-3">
        <div class="col-md-12">
            <div asp-validation-summary="All"></div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-8 mt-3">
            <label for="Nominativo">Nominativo</label>
            <input class="form-control" asp-for="Nominativo" type="text">
        </div>
    </div>

    <div class="row mt-3">
         <div class="col-md-8">
            <label for="Telefono">Telefono</label>
            <input class="form-control" asp-for="Telefono" type="text">
        </div>
    </div>

    <div class="row mt-3">
         <div class="col-md-8">
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-cash-register"></i>&nbsp; Crea</button> 
        </div>
    </div>



}


  
   

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}