
@{
    ViewData["Title"] = "Corriere";
}

@model PacchiListViewModel

<h1 class="title"> Benvenuto, </h1>
<h2 class="title"> questa &egrave; la tua dashboard.</h2>

<div class="row mt-3">
    <div class="col-md-4">
        <a class="btn btn btn-outline-primary" asp-action="Modifica" asp-controller="Corriere"><i class="fas fa-user-edit"></i> Modifica Account </a>
    </div>
     <div class="col-md-4">
        <a class="btn btn btn-outline-primary" asp-action="NonAssegnati" asp-controller="Corriere"><i class="fas fas fa-dolly-flatbed"></i> Ordini non assegnati </a>
    </div>
</div>


<br><br><br>

<div class="row">
    <div class="col-md-12">
        <h3> Lista dei tuoi ordini ASSEGNATI</h3>
    <ul class="elenco">
        <li>
        <div class="row">
                <div class="col-md-4">
                    Luogo di Ritiro @* Via del Negozio. *@
                </div>
                <div class="col-md-4">
                    Luogo di Consegna  @* Indirizzo del pacco *@
                </div>
                <div class="col-md-3">
                    Destinatario  @* Nome destinatario *@
                </div>
                <div class="col-md-1" >
                    CONSEGNA

                    @* bottone da usare su ogni ordine <button style="width: 70px; height: 30px;"><i class="fas fa-clipboard-check"></i>&nbsp;  </button> *@
                </div>
            </div> 
        </li>
    </ul>           
    </div>
</div>


        