@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Dati";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<p class="color mt-3 h3">@ViewData["Title"]</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}