@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Genera codici (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<p class="color mt-3 h3">@ViewData["Title"]</p>
<div id="alert" class="alert alert-warning alertstyle" role="alert">
    <span class="font-weight-bold"> Metti questi codici in un posto sicuro. </span>  <br>
    Se perdi il dispositivo e non disponi dei codici di ripristino, perderai l'accesso al tuo account. <br>
    La generazione di nuovi codici di ripristino non modifica le chiavi utilizzate nelle app di autenticazione. <br> Se desideri cambiare la chiave
    utilizzato in un'app di autenticazione che dovresti <a asp-page="./ResetAuthenticator">reimposta le tue chiavi di autenticazione.</a>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Genera codici di ripristino</button>
    </form>
</div>