@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dati Personali";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<p class="color mb-3 h3">@ViewData["Title"]</p>

<div class="row">
    <div class="col-md-6">
        <p>Il tuo account contiene i dati personali che ci hai fornito. Questa pagina consente di scaricare o eliminare tali dati.</p>
        <p class="mt-3">
            <span class="font-weight-bold">L'eliminazione di questi dati rimuoverà definitivamente il tuo account e questo non potrà essere recuperato.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group mt-3">
            <button class="btn btn-outline-primary w-100 " type="submit"> <i class="fas fa-download"></i> &nbsp;Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger"> <i class="fas fa-trash"></i> &nbsp;Elimina</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
