@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "2FA Autenticazione";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4 class="title">@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>Non hai più codici di recupero.</strong>
            <p>Devi <a asp-page="./GenerateRecoveryCodes"> generare un nuovo set di codici di ripristino</a> prima di poter accedere con un codice di ripristino.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Hai 1 codice di recupero rimasto</strong>
            <p>Puoi <a asp-page="./GenerateRecoveryCodes">generare un nuovo set di codici di ripristino</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Hai @Model.RecoveryCodesLeft codici di recupero rimasti</strong>
            <p>Potresti <a asp-page="./GenerateRecoveryCodes">generare un nuovo set di codici di ripristino</a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <p>
            <form method="post" style="display: inline-block">
                <button type="submit" class="btn btn-outline-primary"> Dimentica questo browser</button>
            </form>
        </p>
        
    }
    <p>
        <a asp-page="./Disable2fa" class="btn btn-outline-primary mt-3 "> Disabilita 2FA </a>
    </p>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-outline-primary mt-3 "> Reimposta codici </a>
}

<h5 class="title mt-3">App di autenticazione</h5>
@if (!Model.HasAuthenticator)
{
    <p>

        <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-outline-primary mt-3"> Aggiungi app di autenticazione</a>
    </p>
}
else
{
    <p>
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-outline-primary mt-3"> Imposta APP </a>
    </p>
    <p>
        <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-outline-primary mt-3"> Reimposta APP </a>
    </p>
    
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}