@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in C3</h1>
    <p>Il progetto si rivolge ai centri abitati medi della provincia italiana dove le attività commerciali del centro <b>soffrono la concorrenza di grossi centri commerciali</b> situati nelle periferie.
    L’idea di fondo è considerare il trasporto della merce una volta acquistata una delle scomodità principali degli acquisti in centro oltre alla più difficile collocazione dei punti vendita in relazione a specifiche categorie merceologiche.
    Il progetto si pone dunque come obiettivo quello di fornire un supporto per rendere l’esperienza degli acquisti in centro più facile e interessante.
    </p>

    <p>
        Il nostro obiettivo &egrave; di fornire supporto ai commercianti locali fornendo una piattaforma dove poter organizzare la consegna dei beni direttamente a casa dell'acquirente, in un punto di ritiro o in un determinato locker. 
    </p>

    <p>
        Grazie per averci scelto. <br>
        <author>Il team di C3</author>
    </p>
</div>
