@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in C3</h1>
    <p class="spacing">Il progetto si rivolge ai centri abitati medi della provincia italiana dove le attività commerciali del centro <b>soffrono la concorrenza di grossi centri commerciali</b> situati nelle periferie.
    L’idea di fondo è considerare il trasporto della merce una volta acquistata una delle scomodità principali degli acquisti in centro oltre alla più difficile collocazione dei punti vendita in relazione a specifiche categorie merceologiche.
    Il progetto si pone dunque come obiettivo quello di fornire un supporto per rendere l’esperienza degli acquisti in centro più facile e interessante.
    </p>

    <p>
        Il nostro obiettivo &egrave; di fornire supporto ai commercianti locali fornendo una piattaforma dove poter organizzare la consegna dei beni direttamente a casa dell'acquirente, in un punto di ritiro o in un determinato locker. 
    </p>

    <div class="spacing container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="my-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block sizing rounded-pill" src="~/img/bartolini.jpg" alt="bartolini">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block sizing rounded-pill" src="~/img/locker.jpg" alt="locker">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block sizing rounded-pill" src="~/img/dhl.jpg" alt="dhl">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>  <!-- Close Row-->
    </div> <!-- Close Container-->
    
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quas qui numquam eius repellendus similique quia tenetur. Expedita voluptatibus voluptas eum ullam. Voluptatibus incidunt nam quasi quas nobis officia deserunt?
    Obcaecati blanditiis nostrum alias culpa deleniti voluptates, dolore minima quae laborum quod, voluptatibus earum! A quos, ad nulla officia iure beatae laborum possimus quidem, alias illum ipsum ipsa qui deserunt!
    Blanditiis quis atque tenetur ea, saepe earum harum facere eaque ex iure at amet quod accusamus, labore cum dolor molestiae dicta voluptatum inventore quasi. Molestias ipsum in velit. Numquam, repellat!
    Unde et, autem ratione architecto alias accusantium labore. Corporis, mollitia. Eaque neque doloribus laudantium illo cum necessitatibus reprehenderit quia, fugit, possimus totam natus quidem quo. Error deserunt sequi fugit voluptatum.</p>
    
    
    <p> 
        Grazie per averci scelto. <br>
        <b>
            <author>Il team di C3</author>
        </b>
    </p>



</div>
