@{
    ViewData["Title"] = "Elenco Negozi";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="font-weight-bold">Inizia la ricerca dei negozi</p>
</div>

<ul>
    <li class="elenco">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                <h3>
                    <small class="text-muted">in tutto il territorio... </small>
                </h3> 
                </div>

                <div class="col-md-2">
                    <a class="btn btn-outline-primary" asp-action="ListaNegozi" asp-controller="Elenco">Vai all'elenco</a>
                </div>
            </div>
        </div>
    </li>
    <li class="elenco">
        <div id="btnAlert" class="alert alert-danger text-center d-none" role="alert">
                Il campo citt&agrave; non pu&ograve; essere vuoto!
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <h3>
                        <small class="text-muted">nella tua citta...</small>
                    </h3> 
                </div>
                <div class="col-md-5 mt-3">
                    <form asp-action="ListaNegoziCitta" method="get">
                        <div class="input-group">
                            <input class="form-control" type="text" name="citta" placeholder="Cerca un negozio" aria-label="Search" aria-describedby="searchAddon">
                            <div class="input-group-append">
                                <button class="input-group-text" title="Cerca"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </li>
    <li class="elenco">
        <div id="btnAlertRegione" class="alert alert-danger text-center d-none" role="alert">
                Il campo regione non pu&ograve; essere vuoto!
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <h3>
                        <small class="text-muted">nella tua provincia...</small>
                    </h3> 
                </div>
                <div class="col-md-5 mt-3">
                    <form asp-action="ListaNegoziProvincia" method="get">
                        <div class="input-group">
                            <input class="form-control" type="text" name="provincia" placeholder="Cerca un negozio" aria-label="Search" aria-describedby="searchAddon">
                            <div class="input-group-append">
                                <button class="input-group-text" title="Cerca"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </li>
</ul>

 




