@{
    ViewData["Title"] = "Elenco Negozi";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="font-weight-bold">Inizia la ricerca dei negozi</p>
</div>
<ul>
    <li class="elenco">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                <h3>
                    <small class="text-muted">in tutto il territorio... </small>
                </h3> 
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <a class="btn btn-outline-primary" asp-action="ListaNegozi" asp-controller="Elenco">Vai all'elenco</a>
                </div>
            </div>
        </div>
    </li>
    <li class="elenco">
        <div class="container">
        <div class="row">
                <div class="col-md-4">
                <h3>
                        <small class="text-muted">nella tua citta...</small>
                    </h3> 
                </div>
                <div class="spacing col-md-4">
                   
                </div>
                <div class="col-md-2">
                    <a class="btn btn-outline-primary"  asp-action="ListaNegozi" asp-controller="Elenco">Vai all'elenco</a> @* Aggiungere il passaggio del valore value *@
                    </div>
            </div>
        </div>
    </li>
</ul>


