@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Conferma email";
}

<p class="color h2"> Email confermata! </p>

<p class="color mt-3 h4"> Clicca qui per effettuare il <a asp-page="/Account/Login" asp-area="Identity"><i class="fas fa-key"></i> login </a> </p>

