@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Conferma email";
}

<h1 class="title"> Email confermata! </h1>

<p class="color mt-3"> Clicca qui per effettuare il <a asp-page="/Account/Login" asp-area="Identity"><i class="fas fa-key"></i> login </a> </p>

