@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Conferma password dimenticata";
}

<p class="color h3">@ViewData["Title"]</p>
<p class="color mt-2">
    Controlla la tua email per reimpostare la password.
</p>

