@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Conferma password dimenticata";
}

<h1 class="title">@ViewData["Title"]</h1>
<p class="color mt-2">
    Controlla la tua email per reimpostare la password.
</p>

