@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "2fa autenticazione";
}

<p class="color h3">@ViewData["Title"]</p>
<hr />
<p class="color mt-2 h5">Il tuo accesso è protetto con un'app di autenticazione. 
    <br> Inserisci il tuo codice autenticatore di seguito.</p>
<div class="row">
    <div class="col-md-3">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" placeholder="Codice Authenticator"/>
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    
                        
                        <p class="color mt-2 h6"><input asp-for="Input.RememberMachine" /> Ricorda questo dispositivo 
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary w-100"> <i class="fas fa-key"></i> Login</button>
            </div>
        </form>
    </div>
</div>
<p class="color mt-2">
   Non hai accesso al tuo dispositivo di autenticazione? Puoi
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">accededere con un codice di ripristino</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
