@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Conferma registrazione";
}

<p class="color mb-2 h2">@ViewData["Title"]</h1>

<p class="color h4">
        Controlla la tua email per confermare il tuo account.
</p>
