@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Conferma registrazione";
}

<h1 class="title mb-2">@ViewData["Title"]</h1>

<p class="color">
        Controlla la tua email per confermare il tuo account.
</p>
