@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reimposta la conferma della password";
}

<h1>@ViewData["Title"]</h1>
<p>
   La tua password è stata resettata. Per favore <a asp-page="./Login">clicca qui per loggarti</a>.
</p>
