
@{
    ViewData["Title"] = "Errore";
}

<p class="color mt-2 h1"> @ViewData["Title"] </p>
<section class="mt-3">
    <p class="color">Ci scusiamo, si è verificato un errore.</p> <br>
    <p class="font-italic color">La pagina che stai cercando non &egrave; disponibile!</p> <br>

    <ul>
        <li class="mt-2"><a asp-action="Index" asp-controller="Home">Homepage</a> </li>
        <li class="mt-2"><a asp-action="Index" asp-controller="Elenco">Homepage Elenco</a></li>
    </ul>
</section>


