html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Navbar section */
header{
    position: sticky; 
    top: 0;
}


@media (max-width: 768px){
  header .nav-item a{
    margin-top: 1em;
  }
  h1{
    font: 3em;
  }
}

header .nav-item a{
  margin-left: 1em;
}
/* end navbar section */

h1{
  font: 4em;
}



.logo{
  height: 5em;
}

author{
  font-style: italic;
}


ul>li{
  list-style-type: none;
}

.elenco{
  padding: 3em;
}

.elenco:not(:last-child){
  border-bottom: grey 1px solid;
}

.spacing{
  padding-bottom: 1em;
}
