/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset css */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 80px; 
}

/* Navbar section */
header{
    display: block;
    top: 0;
}

.sticky {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.padding{
  padding-top: 140px;
}

@media (max-width: 768px){
  header .nav-item a{
    margin-top: 1em;
  }
  h1{
    font: 3em;
  }
}

header .nav-item a{
  margin-left: 1em;
}
/* end navbar section */

h1{
  z-index: 1;
  font: 4em;
}

.logo{
  height: 5em;
}

author{
  font-style: italic;
}

.elenco{
  padding: 3em;
}

.elenco:not(:last-child){
  border-bottom: grey 1px solid;
}

.spacing{
  padding: 1em 1em;
}

/* Carousel setting */

.sizing{
  display: block;
  margin: auto;
  max-height: 350px;
  max-width: 350px;
}

@media (max-width: 478px) {
  .sizing{
    display: none !important;
  } 
}
/* end carousel section */
