    @model IPagination

    @if(Model.TotalResults > 0){

        <p class="mt-2" style="color: grey; "> Totale: @Model.TotalResults</p>
    }

    @{
    int pagine = (int) Math.Ceiling(Model.TotalResults / (decimal) Model.Limit);
    int paginaCorrente = Model.Page;
    }
    <nav class="nav justify-content-center mt-3" aria-label="Paginazione">
        <ul class="pagination">
            @if(pagine > 1){

                @for(int p = Math.Max(1, paginaCorrente-4); p <= Math.Min(pagine ,paginaCorrente+4); p++){
                    if(p == paginaCorrente){
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" asp-route-page="@p">@p <span class="sr-only">(current)</span></a>
                        </li>
                    }else{
                        <li class="page-item" aria-current="page">
                            <a class="page-link" asp-route-page="@p">@p </a>
                        </li>
                    }
                }
            }
            
        </ul>
        
    </nav>
