@model Tipologia[]


        <div class="col-md-8">

            <select class="form-control">
                <option value="null" disabled selected> LISTA TIPOLOGIE </option>
                @foreach (var a in Model.SkipLast(1))
                {
                    <option value="@a" disabled>@a</option>
                }
            </select>
        </div>
        
   